@model Wing_Fleet_Manager.Dtos.User.UserLoginDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/LogoMark.png" rel="icon" type="image/png" />
    <title>Wing Fleet Manager</title>
</head>
<body style="background:linear-gradient(135deg,#00b8b5,#0097A7);" class="m-0 p-0">
    <div class="container-fluid min-vh-100">
        <div class="row min-vh-100 justify-content-center align-items-center">
            <div class="col-10 col-md-4 text-center">

                <div class="card p-5 border-3">
                    <img src="/LogoMark.png" style="width:100px;" class="d-block mx-auto mb-3" />

                    <h1 class="m-3">Wing Fleet Manager</h1>
                    <h4 class="m-3">Sign in To Your Account</h4>

                    <form asp-controller="Auth" asp-action="Login" method="post">
                        @Html.AntiForgeryToken()

                        <input class="form-control my-2 border-black" type="email" placeholder="Email" asp-for="Email" />
                        <input class="form-control my-2 border-black" type="password" autocomplete="off" placeholder="Password" asp-for="Password" />
                        <button class="btn btn-primary form-control my-3" type="submit">Sign in</button>
                        <button class="btn btn-primary form-control my-0" type="submit">Create New User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
