<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wing Fleet Manager</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/LogoMark.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>
    <div class="d-flex">
        <div class="sidebar">
            <div class="logo">
                <img alt="wing" src="/Logo.png" class="" />
            </div>
            <a class="sidelink" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
            <a class="sidelink" asp-area="" asp-controller="Users" asp-action="Index"><i class="fa-solid fa-users"></i> Users</a>
            <a class="sidelink" asp-area="" asp-controller="Vehicles" asp-action="Index"><i class="fa-solid fa-motorcycle"></i> Vehicles</a>
            <a class="sidelink" asp-area="" asp-controller="Zones" asp-action="Index"><i class="fa-solid fa-location-dot"></i> Zones</a>

            <a class="logoutbtn" asp-area="" asp-controller="Auth" asp-action="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a>
        </div>
        <div class="pagecontent">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>