@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/LogoMark.png" rel="icon" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center" style="height:100vh;">
        <div class="text-center">

            <div class="alert alert-danger fw-bold" role="alert">
                @Model.ErrorMessage
            </div>

            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house"></i> Home
            </a>

        </div>
    </div>

    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
