@{
    Layout = "_Layout";
    ViewBag.Title = "Access Denied";
}

<div class="text-center mt-5">
    <h2 class="text-danger">You do not have permission to access this page</h2>
    <a class="btn btn-primary mt-3" asp-controller="WingFleet" asp-action="Login">Return to login</a>
</div>