.pagecontent {
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
    background-color: #F3F4F6;
}
.sidebar {
    height: 100vh;
    width: 200px;
    background-color: #0097A7;
    padding:20px;
    display:flex;
    flex-direction:column;
    color:white;
}
.logo{
    width:200px;
    height:60px;
    margin-bottom:10px;
}
.logo img {
    width: 150px;
    height: 40px;
}
.sidelink {
    text-decoration: none;
    color: white;
    border-radius: 8px;
    display: block;
    padding: 14px 30px;
    font-size:17px;
    transition: background .2s;
    margin-bottom:5px;
}
.sidelink i{
    margin-right:10px;
}
.sidelink:hover{
     background-color:#00b8b5ed
}

.logoutbtn {
    margin-top: auto;
    text-decoration: none;
    color: white;
    background-color: #00b8b5ed;
    padding:10px;
    border-radius:10px 15px;
    display:block;
    font-size:17px
}

.logoutbtn i {
        margin-right: 10px;
}